.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
*.class
*.xls
*.docx
/lib/UserAgentUtils-1.13/META-INF/MANIFEST.MF
/lib/UserAgentUtils-1.13/META-INF/maven/bitwalker/UserAgentUtils/pom.properties
/lib/UserAgentUtils-1.13/META-INF/maven/bitwalker/UserAgentUtils/pom.xml
/lib/lib.rar
/lib/lib/LICENSE
/lib/lib/META-INF/MANIFEST.MF
/lib/lib/META-INF/ckfinder.tld
/lib/lib/META-INF/maven/bitwalker/UserAgentUtils/pom.properties
/lib/lib/META-INF/maven/bitwalker/UserAgentUtils/pom.xml
/lib/lib/ext.dic
/lib/lib/lang/bg.xml
/lib/lib/lang/ca.xml
/lib/lib/lang/cs.xml
/lib/lib/lang/cy.xml
/lib/lib/lang/da.xml
/lib/lib/lang/de.xml
/lib/lib/lang/el.xml
/lib/lib/lang/en.xml
/lib/lib/lang/eo.xml
/lib/lib/lang/es-mx.xml
/lib/lib/lang/es.xml
/lib/lib/lang/et.xml
/lib/lib/lang/fa.xml
/lib/lib/lang/fi.xml
/lib/lib/lang/fr.xml
/lib/lib/lang/gu.xml
/lib/lib/lang/he.xml
/lib/lib/lang/hi.xml
/lib/lib/lang/hr.xml
/lib/lib/lang/hu.xml
/lib/lib/lang/it.xml
/lib/lib/lang/ja.xml
/lib/lib/lang/lt.xml
/lib/lib/lang/lv.xml
/lib/lib/lang/nb.xml
/lib/lib/lang/nl.xml
/lib/lib/lang/nn.xml
/lib/lib/lang/no.xml
/lib/lib/lang/pl.xml
/lib/lib/lang/pt-br.xml
/lib/lib/lang/ro.xml
/lib/lib/lang/ru.xml
/lib/lib/lang/sk.xml
/lib/lib/lang/sl.xml
/lib/lib/lang/sv.xml
/lib/lib/lang/tr.xml
/lib/lib/lang/vi.xml
/lib/lib/lang/zh-cn.xml
/lib/lib/lang/zh-tw.xml
/lib/lib/org/wltea/analyzer/dic/main2012.dic
/lib/lib/org/wltea/analyzer/dic/quantifier.dic
/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.runtime/.settings/*.prefs
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes
/.metadata
